.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.catagory-boxes {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.category-boxes